body {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

#header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20px;
    flex-grow: 1;
}

#section-map canvas {
    pointer-events: none;
    position: absolute;
}

#section-map #map {
    max-width: 80%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #0073e6;
    border-radius: 10px;
}

#language-selector {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#language-selector button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    transition: background-color 0.3s;
}

#language-selector button:hover {
    background-color: #005bb5;
}

@media (max-width: 768px) {
    #header {
        padding: 10px;
        font-size: 18px;
    }

    #language-selector button {
        font-size: 10px;
        padding: 3px 7px;
    }
}

/* Styles pour les modales */
.modal {
    display: none; /* Cacher par défaut */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 20px auto; /* Ajusté pour positionner en haut */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute; /* Ajouté pour un meilleur contrôle de la position */
    top: 20px; /* Positionner en haut de la page */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
