body {
    background-color: gray;
    height: 100%;
    width: 100%;
    margin: 0;
}

div#section-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#section-map canvas {
    pointer-events: none;
    /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}

div#section-map #map {
    
}